<section class="page-section" id="categories">
  <div class="container">
    <div class="row">
      {% for c in site.data.categories %}
        <div class="col-lg-3 col-md-4 col-sm-6 text-center">
          <div class="card bg-light mb-4 category">
            <a href="/products/{{ c.name | slugify }}.html" target="_self">
            <img class="card-img-top" style="" src="{{ site.image.url }}/assets/categories/{{ c.name | slugify }}.jpg">
            <div class="card-body">
              <h5 class="card-title align-middle" style="height: 1.5em;max-height: 2.5em;">{{ c.name }}</h5>
            </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
