<section class="page-section bg-primary" id="contact">
  <div class="container">
    {% if page.name != "quote.html" %}
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0 text-white">Reach out!</h2>
        <hr class="divider my-4" />
        <div id="contact-form-div">
          <form id="contact-form">
            <input type="hidden" id="form-type" name="form-type" value="contact-form" />
            <div class="mb-3 text-start text-white">
              <label for="name" class="form-label font-weight-bold">Full Name</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="John Doe" required>
            </div>
            <div class="mb-3 text-start text-white">
              <label for="company" class="form-label font-weight-bold">Company Name</label>
              <input type="text" class="form-control" name="company" id="company" placeholder="Example, LLC">
            </div>
            <div class="mb-3 text-start text-white">
              <label for="email" class="form-label font-weight-bold">Email Address</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="jdoe@example.com" required>
            </div>
            <div class="mb-3 text-start text-white">
              <label for="phone" class="form-label font-weight-bold">Phone Number</label>
              <input type="tel" class="form-control" name="phone" id="phone" placeholder="(555) 555-5555">
            </div>
            <div class="mb-3 text-start text-white">
              <label for="message" class="form-label font-weight-bold">Message</label>
              <textarea class="form-control" name="message" id="message" rows="3" required></textarea>
            </div>
            <div class="cf-turnstile" data-sitekey="{{ site.turnstile.site_key }}" data-size="invisible"></div>
            <input type="submit"
                   class="btn btn-dark btn-xl mt-3"
                   id="submit-contact" name="submit-contact" value="Send">
          </form>
        </div>
        <div id="contact-form-success" class="text-center d-none" role="alert" aria-live="assertive" aria-atomic="true">
          <h4 class="text-white">Submitted message to sales.</h4>
        </div>
        <div id="contact-form-error" class="text-center d-none" role="alert" aria-live="assertive" aria-atomic="true">
          <h4 class="text-white">Error submitting message to sales.</h4>
        </div>
      </div>
    </div>
    <hr class="divider my-4" />
    {% endif %}
    <div class="row justify-content-center">
      <div class="col-md-5 text-center mb-5 mb-md-0">
        <i class="fas fa-envelope fa-3x mb-3 text-white" aria-hidden="true"></i>
        <a class="d-block text-white font-weight-bold" href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>
      <div class="col-md-5 text-center">
        <i class="fa-brands fa-facebook fa-3x mb-3 text-white"></i>
        <a class="d-block text-white font-weight-bold" href="https://www.facebook.com/blairsarboristequipment" target="_blank" rel="noopener">@blairsarboristequipment</a>
      </div>
    </div>
  </div>
</section>
