{% assign linkHrefHome = "/" %}
{% assign linkHrefProducts = "/#categories" %}
{% assign linkHrefLearningCenter = "/learning-center.html" %}
{% assign linkHrefQuote = "/quote.html" %}
{% if page.url == "/" %}
  {% assign linkHrefHome = "#page-top" %}
{% elsif page.url contains '/products/' %}
  {% assign linkHrefProducts = "#page-top" %}
{% elsif page.url contains 'learning-center.html' %}
  {% assign linkHrefLearningCenter = "#page-top" %}
{% elsif page.url contains 'quote.html' %}
  {% assign linkHrefQuote = "#page-top" %}
{% endif %}
<a class="skip-link visually-hidden-focusable" href="#main-content">Skip to main content</a>
<nav class="navbar navbar-expand-lg navbar-light fixed-top text-uppercase" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto my-2 my-lg-0">
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ linkHrefHome }}">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="{{ linkHrefProducts }}" role="button" aria-expanded="false">Products</a>
          <div class="dropdown-menu">
            <a class="dropdown-item fw-bold" href="/products/">Search All Products</a>
            <div class="dropdown-divider"></div>
            {% for c in site.data.categories %}
            <a class="dropdown-item" href="/products/{{ c.name | slugify }}.html">{{ c.name }}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ linkHrefLearningCenter }}">Learning Center</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ linkHrefQuote }}" id="nav-quote">Quote</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
        <li class="nav-item">
          <button id="theme-toggle-btn" class="nav-link" type="button" onclick="toggleTheme()" aria-label="Switch to dark mode" aria-pressed="false">
            <i class="fas fa-moon" aria-hidden="true"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
